---
import { COMPANIES } from "../../constants/company";

const menu = [
    {
        name: COMPANIES.MATERIALES.name,
    },
    {
        name: COMPANIES.TRANSPORTES.name,
    },
    {
        name: COMPANIES.CONSTRUCTORA.name,
    },
    {
        name: COMPANIES.TRANSPORTES_MJM.name,
    },
];
---

<nav class="w-full p-4 flex flex-row justify-end items-center">
    <ul class="w-full p-4 flex flex-row justify-end items-center gap-4">
        {menu.map(({name}) => (
            <li>{name}</li>
        ))}
    </ul>
</nav>