---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import Pillars from '../components/PillarCards/Pillars.astro';
import Description from '../components/Description.astro';
import Materiales from '../components/Companies/Materiales.astro';
import Transportes from '../components/Companies/Transportes.astro';
import Constructora from '../components/Companies/Constructora.astro';
---

<Layout title="Grupo Vaquez">
	<Slider />
	<main class="w-full max-w-screen-2xl p-4 mx-auto flex flex-col gap-40 relative">
		<Pillars />
		<Description />
		<Materiales />
		<Transportes />
		<Constructora />
	</main>
</Layout>