---
import { COMPANIES } from "../constants/company";

const slider = [
  {
    name: COMPANIES.TRANSPORTES.name,
    image: COMPANIES.TRANSPORTES.image,
  },
  {
    name: COMPANIES.MATERIALES.name,
    image: COMPANIES.MATERIALES.image,
  },
  {
    name: COMPANIES.CONSTRUCTORA.name,
    image: COMPANIES.CONSTRUCTORA.image,
  },
];
---

<section class="w-full h-[80vh] max-w-screen-2xl mx-auto flex justify-start items-center overflow-hidden z-0 lg:px-4">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {slider.map(({image, name}) => (
                <div class="swiper-slide">
                    {/* <div class="w-fit py-4 px-8 bg-black/5 backdrop-blur-light rounded-sm absolute left-0 bottom-32">
                        <span class="text-lg text-white font-semibold capitalize">{name}</span>
                    </div> */}
                    <img src={image} alt={name} />
                </div>
            ))}
        </div>
        <div class="hidden md:flex swiper-button-next" />
        <div class="hidden md:flex swiper-button-prev" />
    </div>
</section>

<style>
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: #ffffff;
        opacity: 0.3;
    }
</style>


<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script>
    // @ts-ignore
    const swiper = new Swiper(".mySwiper", {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 4000,
        disableOnInteraction: false,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
</script>